/* instructions.css */
.instruction-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    text-align: justify;
}

.instruction-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.instruction-container p {
    font-size: 16px;
    color: #555;
}

.instruction-container ol, 
.instruction-container ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.instruction-container li {
    margin-bottom: 10px;
}

.instruction-container strong {
    color: #00796B;
}

.img-float-right {
    float: right;
    margin: 0 0 10px 10px; /* top, right, bottom, left margin */
    max-width: 400px;      /* prevents image from exceeding 300px wide */
    width: 100%;           /* responsive width up to that 300px limit */
    height: auto;          /* preserve aspect ratio */
  }
  
.img-float-left {
    float: left;
    margin: 0 10px 10px 0; /* top, right, bottom, left margin */
    max-width: 300px;
    width: 100%;
    height: auto;
  }

.back-to-top {
    text-align: center;
    margin: 30px 0;
  }
  
.back-to-top a {
    text-decoration: none;
    background: #00796B;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
.back-to-top a:hover {
    background: #005f53;
  }