.top-menu {
    width: 100%;
    background: linear-gradient(90deg, #294936, #623B5A); /* Use your palette colors */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    justify-content: space-between; /* Adjust items to be spaced out */
    align-items: center;
    color: white;
}

.top-menu-title {
    font-size: 1.5em;
    font-family: 'Arial Black', sans-serif; /* Bold and distinctive font */
    color: #DFF3E4; /* Use your palette color */
    text-align: center;
    margin-left: 20px; /* Adjust spacing as needed */
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-menu li {
    margin: 0 15px; /* Space between menu items */
}

.top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-family: Arial, sans-serif;
    font-size: 1.1em; /* Slightly larger font size */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-menu li a:hover {
    background-color: #444; /* Darker background on hover */
    color: #ddd; /* Lighten text color on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

body.menu {
    padding-top: 60px; /* Adjust for the fixed top menu */
}


/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #294936, #623B5A); /* Gradient background similar to the menu bar */
    color: #DFF3E4; /* Updated text color from your palette */
    padding: 3px 0; /* Slightly reduced padding */
    text-align: center;
    font-size: 0.6em; /* Slightly smaller font size */
    z-index: 1000; /* Ensures it stays on top */
}

.footer a {
    color: #ADF1D2; /* Updated link color from your palette */
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #FFFFFF; /* Lighten text color on hover */
    text-decoration: underline;
}
