.top-menu {
    width: 100%;
    background: linear-gradient(90deg, #294936, #623B5A); /* Updated Gradient background with your palette */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-menu li {
    margin: 0 15px; /* Space between menu items */
}

.top-menu li a {
    display: block;
    color: #DFF3E4; /* Updated text color from your palette */
    text-align: center;
    padding: 14px 20px;
    font-family: Arial, sans-serif;
    font-size: 1.1em; /* Slightly larger font size */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-menu li a:hover {
    background-color: #D36135; /* Updated hover background color from your palette */
    color: #FFFFFF; /* Lighten text color on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

body.menu {
    padding-top: 60px; /* Adjust for the fixed top menu */
}

/* Footer */
.footer {
    background-color: #294936; /* Updated background color from your palette */
    color: #DFF3E4; /* Updated text color from your palette */
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}

.footer a {
    color: #ADF1D2; /* Updated link color from your palette */
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #FFFFFF; /* Lighten text color on hover */
    text-decoration: underline;
}
