.split-hero {
    display: flex;
    height: 100vh; /* Full viewport height */
    background-color: #DFF3E4; /* Fallback background color */
}

.split-hero-left, .split-hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.split-hero-left {
    background-color: #294936; /* Left side background color */
    color: white;
    flex-direction: column; /* Stack elements vertically */
    text-align: left; /* Align text to the left */
}

.split-hero-left h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.split-hero-left p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-button {
    padding: 15px 30px;
    background-color: #D36135;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #FF6347;
}

.split-hero-right img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensures the image fits within the container */
    border-radius: 10px;
}
